html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
    margin: 0;
}

.site {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-rows: 280px 560px 80px;
    grid-template-areas: 
        "list-col summary-bar summary-bar"
        "list-col number-col cont"
        "btn1 btn2 btn3";
    height: 3*280px + 80px;
    max-height: 3*280px + 80px;
    width: 100%;
}

.padding {
    padding: 20px;
}

.text-align {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.align-left {
    align-self: flex-start;
}

#txt_title {
    width: 500px;
}

#txt_summary {
    width: 600px;
    height: 150px;
}

/*---------------------------------------------------*/
#summary-bar {
    grid-area: summary-bar;
    background-color: rgb(179, 179, 179);
}

#content {
    grid-area: cont;
    background-color: lightblue;
}

#btn1 {
    grid-area: btn1;
    background-color: lightseagreen;
}

#btn2 {
    grid-area: btn2;
    background-color: lightpink;
}

#btn3 {
    grid-area: btn3;
    background-color: mediumseagreen;
}

#list-col {
    grid-area: list-col;
    background-color: rgb(231, 114, 114);
    overflow: auto;
    max-height: 3*280px;
}

#number-col {
    grid-area: number-col;
    background-color: rgb(238, 232, 174);
    overflow: auto;
    max-height: 2*280px;
}

.list-item {
    align-self: stretch;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(214, 214, 218);
    order: 1;
    border-radius: 5px;
}

.selected {
    color: magenta;
}

.list-layout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.add-btn {
    max-height: 24px;
    width: inherit;
    background-color: rgb(166, 240, 166);
    text-align: center;
    align-self: stretch;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.name {
    flex: 4;
}

.del-btn {
    flex: 1;
    order: 1;
    color: black;
    background-color: rgb(168, 179, 190);
    text-align: center;
}