#mc > input[type=radio] {
    margin: 20px;
}

input[type=text] {
    margin-top: 20px;
    width: 400px;
}

.hidden {
    display: none !important;
}

.row > input {
    margin: 20px;
}

#txt_question {
    width: 800px
}

#txt_info {
    width: 800px
}